@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@400;700&family=Manrope:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 60%;
}

nav .nav .logo {
  font-size: 32px;
  font-weight: 200;
  text-decoration: none;
  color: black;
}

nav .nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 30px;
}

nav .nav ul a {
  text-decoration: none;
  color: black;
}

.page {
  width: 60%;
  margin: auto 0;
  padding: 50px 0;
}

